@font-face {
    font-family: "Gotham Thin";
    src: url("../fonts/Gotham/Gotham-Light.otf") format("otf"),
    url("../fonts/Gotham/GothamLight.ttf") format("truetype")
   }
@font-face {
    font-family: "Gotham Medium";
    src:  url("../fonts/Gotham/GothamMedium.ttf") format("truetype")
   }
body {
    margin: 0;
    /* background-color: rgb( 236, 240, 241); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    height: 139px;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    z-index: 2;
    transition-duration: 0.4s;
    box-shadow: 0px 18px 32px -8px rgba(0,0,0,0.75);
}
.logo {
    width: 15%;
    margin-left: 20px;
}
.logoimg {
    width: auto;
    height: 139px;
    transition-duration: 0.4s;
}
.espacehe {
    width: 50%;
    height: 139px;
}
.menu {
    width: auto;
    line-height: 139px;
    transition-duration: 0.4s;
}
.btn {
    padding: 0 40px 0 40px;
    text-decoration: none;
    color: black;
    font-family: "Gotham Medium";
    font-size: 18px;
}
.btn:hover {
    background: linear-gradient(to right, rgba(255,78,0,1) 0%, rgba(229,19,86,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 0.4s;
}
/* ************* */
/* FOND */
/* ***************** */
.couleur {
    width: 100%;
    height: 800px;
    background: linear-gradient(135deg,rgba(255,78,0,1) 0%,rgba(229,19,86,1) 100%);
    clip-path: polygon(0 89%, 100% 64%, 100% 0%, 0 78%);
    position: absolute;
    z-index: -1;    
    /* transform: translate(-0px,-200px); */
}
.imgfond {
    width: 100%;
    height: 800px;
    clip-path: polygon(0 80%, 100% 53%, 100% 100%, 0 92%);
    position: absolute;
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    transform: translate(-0px,50px);
}
/* ********************************* */
/* Premiere partie */
/* ******************************** */
main {
    width: 90%;
    margin: auto;
    padding-top: 180px;
    height: 600px;
    z-index: 5;
}
main>.container {
    width: 61%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 6px 7px 20px 0px rgba(0,0,0,0.75);
    margin-top: 70px;
}
.container>p {
    font-size: 18px;
}
h1 {
    margin:0 auto 20px 0;
    font-size: 35px;
    background: linear-gradient(to left, rgba(255,78,0,1) 0%, rgba(229,19,86,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}
.right {
    float: right;
    margin-top:50px;
}
.left {
    margin-right: 
}
/* .titre {
    display: flex;
} */
.titre>.espace {
    width: 100%;
}
.droite {
    margin-right: 0;
}
.gauche {
    margin-left: 0;
}
/* ****************************************** */
.info {
    background: linear-gradient(135deg,rgba(255,78,0,1) 0%,rgba(229,19,86,1) 100%);
    width: 100%;
    height: 650px;
    clip-path: polygon(0 0, 100% 7%, 100% 91%, 0 100%);
    padding-top: 50px;
}
.info>.titre {
    width: 90%;
    margin: auto;
}
.titre>h2 {
    color: white;
    font-size: 40px;
    margin-top: 90px;
}
.info>.container {
    width: 75%;
    margin:80px auto;
    display: flex;
}
.container>.bulle {
    width: 25%;
}
.bulle>img {
    transition-duration: 0.4s;
    cursor: pointer;
}
.bulle>img:hover{
    opacity: 0.5;
    transform: translate(0,10px);
}
.bulle>h3 {
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-family: "Gotham Thin";
}
.bulle>p {
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
}
/* **************** */
/* FOOTER */
/* **************** */
footer {
    width: 100%;
    height: 100px;
    background-color: white;
    /* transform: translate(0,-80px); */
    z-index: -1;
}
.credits {
    width: 50%;
    margin: auto;
}
.credits>p {
    color: lightgray;
    text-align: center;
    padding-top: 20px;
}